.navbar{
    background-color:#FFAA4C;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50%;
}

.navbar a {
    color: #001E6C;
    text-decoration: none;
    font-weight: bold;
}